<h1><%= @restaurant.name %></h1>
  <div class="card" style="width: 18rem;">
    <p>Adress : <%= @restaurant.address %> </p>
  </div>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>
<%= link_to "Back to all restaurants", restaurants_path %>
